body {
	font-family: 'CMUSerifRoman';
	font-size: 20px; 
	color: white;
	line-height: 2em;
	background-color: black;
}

h1{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 60px; 
	line-height: 1.4em;
}

h3{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px; 
	font-weight: bold;
}

h4{
	font-style: italic; 
	font-weight: italic; 
}


p{
	text-align: left;
}

table, th, td {
	border: solid black 1px;
	border-collapse: collapse;
	text-align: left;
	padding: 10px;
}


a { 
	color: white;
	text-decoration: none;
}

a:hover { 
 	color: white;
	text-decoration: none;
}

::selection {
  background: #00ff88; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00ff88; /* Gecko Browsers */
}

::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
  background: #000;
}

.container {
	width: 93%;
	margin-top: 5%;
	margin-bottom: 5%;
	overflow: auto;
}

.navbar {
  max-height: 80px;
  background-color: black;
  border: none;
}

@media only screen and (max-width: 479px){
    .container { width: 90%; }
    .logo {
	margin-top: 10%;
	margin-left: 40%;
	margin-bottom: 10%;
	}
	h3{
		text-align: center;
	}
}

img {
	margin-top: 5%;
	margin-left: 5%;
}

.menuItem { 
	color: white;
	text-decoration: none;
    border-bottom: 3px solid white;
}

.menuItem:hover { 
 	color: white;
	text-decoration: none;
    border-bottom: 3px solid #00ff88;	
}

#topMenuItem{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: white;
	text-decoration: none;
}

#topMenuItem:hover { 
 	color: white;
	text-decoration: none;
    border-bottom: 2px solid white;	
}

